---
layout: default
---

  <div class="col-8" id="main">
    <div class="res-cons">
    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article class="post">
        {% include article.html %}
      </article>
    {% endfor %}
      <div class="page-navigator">
        {% if paginator.next_page %}
        <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
        {% endif %}
        <div class="nav-center">
        <a href="/blog/archives">Archives</a>
        </div>
        {% if paginator.previous_page %}
       <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
        {% endif %}
      </div>
     </div>
  </div>
    
  <aside id="secondary">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
  </aside>

